.headerReturnDiv{
    height: 15vh;
    background-color: green;
    text-align: center;
    border: 2.5px solid black;
    color: gold;
    font-weight: 800;
    padding: 10px;
}

h1{
    font-size: 2em;
}
.imgDiv{
    background-image: url("https://cdn.pixabay.com/photo/2015/10/31/11/58/money-1015277_960_720.jpg");
}
