.navDiv{
    border-right: solid 2.5px black;
    border-left: solid 2.5px black;
    background-color: gold;
    position: relative;
    grid-column: 1;
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 505px;
    width: 150px;
    transition: left 100ms linear;
}
.userInfo{
    justify-self: flex-start;
    position: absolute;
    top: 0;
    padding-top: 10px;
    font-weight: bold;
    font-size: 1.2em;
}