.expViewDiv{
    height: 100%;
    overflow-y: scroll;
}
.expenseReturnDiv > ul > li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.expenseReturnDiv > ul > li > p{
    display: inline-block;
    width: 200px;
    text-align: left;
}
.titles{
    margin: 20px;
    font-size: 1.5em;
    font-weight: bolder;
}